body{
    background: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    }

.foto2{
   
    margin: 5px;
}

.foto2{
    margin-left: 300px;
}

.foto2 img{
    width: 900px;
}

    .foto img{
        margin-left: 70px;
        width: 1300px;
        height: 600px;
        align-content: center;
        }
        
        .enlaces{
            margin: 10px;
            display: flex;
            flex-direction: row;
        }
        
        .pasa{
            background-color: rgb(36, 33, 33);
            color: rgb(255, 255, 255);
            padding: -30px;
            display: flex;
            justify-content: space-between;
         }   
            
        .Navb{
            text-decoration: none;
            display: flex;
            flex-flow: row, wrap;
        }
            
        .Navb ul a li{
            background: rgb(2, 180, 224);
            width: 170px;
            height: 50px;
            color: rgb(255, 255, 255);
            border-radius: 9px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
        }
            
        .Navb ul:hover a li:hover{
            color: rgb(12, 0, 63);
            width: 170px;
            height: 50px;
            text-decoration: none;
            list-style: none;
            font-size: 20px;
            background-color: rgb(255, 255, 255);
            border: rgb(255, 255, 255) solid 2px;
            border-radius: 10px; 
            margin-right: 10px;
        }
            
            
        .Logo img{
            width: 190px;
            height: 70px;
            margin-bottom: 25px;
        }      
